html {
  background-color: #fff;
  text-align: left;
  font-family: Calibri, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  content-box: border-box;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 120px;
  background: #bbb;
}

H1 {
  font-size: 3em;
  line-height: 2;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 1.5;
  font-size: 1.2em;
  color: red;
}
